<div ng-class="{transparent: !loaded}">
    <div class="grid-heading">${document}</div>
    <div class="grid-buttons">
        <div class="grid-button" ng-show="process_action" ng-click="codeDocs()" ng-class="{disabled: processing}"><i class="fa fa-plus"></i> Add Codes</div>
        <div class="grid-button" ng-click="reloadBatchDocs()" title="Refresh the list"><i class="fa fa-refresh"></i></div>
    </div>
    <div class="grid">
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Code</th>
                <th>Final Code</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in gridOptions.data">
                <td style="background-color:{{row.bgColor}}" ng-bind-html="row.IDLink"></td>
                <td style="background-color:{{row.bgColor}}" ng-bind-html="row.Text"></td>
                <td style="background-color:{{row.bgColor}}">{{row.Code}}</td>
                <td style="background-color:{{row.bgColor}}"><input type="text" ng-model="row.UserCode"
                    ng-model-options="{updateOn: 'blur'}"
                    ng-blur="codeDoc(row)"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="connection-problem" ng-class="{concealed: !requestFailed}">
    <i class="fa fa-warning"></i>
    <div class="message">Server Error.</div>
</div>
<div class="loading-animation" ng-class="{concealed: (loaded || requestFailed)}">
    <div class="loading-animation-bg">
        <i class="fa fa-refresh"></i>
    </div>
</div>
