<div ng-class="{transparent: !loaded}">
    <div class="grid-heading">${documentUC}</div>
    <div class="grid-buttons">
        <div class="grid-button" ng-show="process_action" ng-click="codeDocs()" ng-class="{disabled: processing}"><i class="fa fa-plus"></i> Add Codes</div>
        <div class="grid-button" ng-click="add${documentUC}ToBatch(batch_id)" title="Create a new ${document}"><i class="fa fa-plus"></i></div>
        <div class="grid-button" ng-click="reloadBatchDocs()" title="Refresh the list"><i class="fa fa-refresh"></i></div>
    </div>
    <div class="grid">
        <div ng-show="has_file">"<a href="api/files/download/{{file_id}}">Download File</a></div>
        <table border="1">
            <thead>
            <tr>
                ${columnTH}
                ${codeColumnTH}
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in gridOptions.data">
                ${columnTD}
                ${codeColumnTD}
                <td><button class="btn btn-default btn-xs" ng-click="viewDoc(row.ID)">View</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="connection-problem" ng-class="{concealed: !requestFailed}">
    <i class="fa fa-warning"></i>
    <div class="message">Server Error.</div>
</div>
<div class="loading-animation" ng-class="{concealed: (loaded || requestFailed)}">
    <div class="loading-animation-bg">
        <i class="fa fa-refresh"></i>
    </div>
</div>
